.card-list{
    display: grid;
    justify-content: center;
    
    width:95vw;
    margin:1px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    grid-gap:20px;
}
@media screen and (max-width: 960px){

    .card-list{
        grid-template-columns: 1fr 1fr;
        padding:5px;
        

    }


}