:root {
  --primary: rgb(255, 123, 0);
  --button: black;
}

.btn {
  padding: 12px 25px;
  border-radius: 2px;
  outline: none;
  border: none;
  font-size: 13px;
  font-weight:600;
  color: #fff;
  cursor: pointer;
  background-color: var(--button);
}


