.details-container {
  display: flex;
  flex-direction: column;
  margin:4rem;
  
}


.details-container > .heading {
  margin-left: 1rem;
  margin-top: 2rem;
  font-size: 23px;
  font-weight: lighter;
  padding-bottom: 1px;
  height: 30px;
  color: rgb(94, 93, 93);
}
.details-container > .logout{

    border-bottom:1px solid black;
    position: relative;
    text-align: end;
    color: rgb(223, 172, 7);
    margin-right: rem;
    cursor: pointer;
    padding-bottom: 10px;
    font-size: 15px;
   
}
@media screen and (max-width: 960px) {
  .details-container {
    display: flex;
    flex-direction: column;
    margin:2rem;
    
  }
}
