.imagecontainer {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    padding: 1px;
    backface-visibility: visible;
    transform: translateZ(0);
    margin: 30px;
    margin-left: 75px;
    width:30%;
  }
  .product-image {
    width: 100%;
    
    height: auto;
   
  }

  .productdetail-container{
      background-color: red;
      display: flex;
  }