.subscribe-form {
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:2px  auto;
    align-items: center;
  }
.subscribe-form>h4{

    color:rgb(102, 101, 101);
    font-size: 18px;
    font-weight: lighter;
    margin-top:20px;
    margin-bottom: 10px;
    font-family: cursive;

}
.subscribe-form>h5{
    font-size: 12px;
    margin: 10px 0px;
    color:rgb(71, 70, 70);
}
.subscribebutton{
    width:100%;
    margin:20px;
}
  @media screen and (max-width: 960px){
  
      .subscribe-form{
          width:85%;
          margin:2px auto;
      }
  }
