.navbartwo {
    background:rgb(230, 230, 230);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    height: 50px;
    
  }
  i{
    font-weight: lighter;
    color:rgb(126, 123, 123);
    
  }
  
  .nav-menutwo {
    display: grid;
    grid-template-columns: repeat(10,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    height: 50px;
    width: 100vw;
    margin-left: 15px;
    align-items: center;
    justify-content: start;
    background-color:rgb(230, 230, 230);
    
  }
  .nav-linkstwo:hover{
    color:rgb(255, 123, 0);
    border-bottom: 1px solid black;
  }
 
  
  .nav-itemtwo {
    display: flex;
    align-items: center;
    
    height: 50px;
    transition: all 0.5s ease;
    
  }
  
  
  .nav-linkstwo{
    color: #686868;
    text-decoration: none;
    font-weight: bold;
   
    padding: 0.5rem 1rem;
    text-align: center;
  }
  
  .nav-linkstwo:hover {
    color:rgb(255, 123, 0);
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }
  
  
  
  @media screen and (max-width: 960px) {
    .navbartwo{
      display: none;
    }
    
  }
  